<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title></title>
</head>
<body >
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top  ">
    <div class="container">
      <a class="navbar-brand" href="/portada/index">Proyecto Final</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> 
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
                     <li class="nav-item submenu dropdown  "> <a  href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Otros</a>
            <ul class="dropdown-menu " style="background-color: #212529;" >
              <li class="nav-item"><a class="nav-link" href="/portada/detalle">Detalle</a></li>
              <li class="nav-item"><a class="nav-link" href="/contenido/consulta_saldo">Saldo</a></li>
              <li class="nav-item"><a class="nav-link" href="/portada/listar">Lista de solicitudes</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/perfil">Perfil</a></li>
              <li class="nav-item"><a class="nav-link" href="/portada/solicitudejercicios">Solicitud de Ejercicios</a></li>
            </li>
        </ul> 


          <li class="nav-item">
            <a class="nav-link" href="/users/registro">Registrate</a>
            </li>
            <!--<li class="nav-item" style="">
              <a class="nav-link">|</a>  
            </li>
            <li class="nav-item" style="">
            <a class="nav-link" href="/portada/login">Iniciar Sesion</a>          
            </li>-->
        </ul>
      </div>
    </div>
  </nav>
  <section class="gradiente mt-5 pt-5 pb-5 ">
  <header >
    
    

  </header>


<%= form_tag sessions_path do |form| %>
<form >  
  <div class="container-fluid row justify-content-center align-items-center minh-100  ">
  
    <div class="colorb rounded shadow-lg" style="padding: 40px ;" >
      <div class="container row justify-content-center align-items-center minh-100 col text-center" style="padding-right: 0px;">

      <img src="3" alt="" class="rounded-pill perfil_circulo">
      </div>

    
    <div class="row justify-content-center align-items-center minh-100 ">
        <div class="col text-center">
        <h4>Iniciar sesión con:</h4>
     
        <button type="button" class="btn  btn-danger rounded-pill w-50">Gmail</button>
        <p>_____________o_____________</p>
      </div>    
    </div>
      
        <div class="form-group ">
         
        <div class="field ">
            <%= label_tag :Correo %><br>
            <%= text_field_tag :address%>
        </div>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
           <div class="field">
            <%= label_tag :Contraseña %><br>
            <%= password_field_tag :password   %>
            <p id="alert"><%= alert %></p>
          </div>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Recordar</label>
        </div >
        <div class="col text-center">
        <%= submit_tag "Ingresar", :class => "btn btn-primary rounded-pill w-auto" %>   
        </div>

        <div class="col text-center">
        <p><a href="#">Olvidé mi contraseña</a></p>
        <p>¿No tienes cuenta?</p>
              <div class="col text-center">
            <%= link_to "Regístrate", signup_path, :class => "btn btn-primary rounded-pill w-auto" %>
          </div>
        </div>
      </form>
    </div>

  </div>
</section>

<% end %>




<%= yield %>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>








 