<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<section class=" form-group col-md-4 mb-3 " style="padding-top: 50px;" >
  <div class="field">
  
     <%= form.text_field :dni,placeholder: 'DNI'  ,class: 'form-group form-control' %></p>
  </div>

  <div class="field">
    
    <%= form.text_field :nombre,placeholder: 'Nombre',class: 'form-group form-control' %>
  </div>

  <div class="field">
    
    <%= form.text_field :apellido,placeholder: 'Apellidos' ,class: 'form-group form-control' %>
  </div>

  <div class="field">
  
    <%= form.text_field :address,placeholder: 'Correo' ,class: 'form-group form-control' %>
  </div>

  <div class="field">
 
    <%= form.password_field :password, placeholder: 'Contraseña' ,class: 'form-group form-control' %>
  </div>

  <div class="field">
     
    <%= form.password_field :password_confirmation,placeholder: 'Confirmar password',class: 'form-group form-control' %>
  </div>

  <div class="field">
   
    <%= form.text_field :phone ,placeholder: 'Numero celular',class: 'form-group form-control' %>
  </div>

  <div class="actions"><br>
    <%= form.submit "Registrate" ,class: ' btn btn-primary btn-lg'%>
  </div>
 </section> 
<% end %>
