
<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!--bootstrap--> 
   
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
<head>
    <title></title>
</head>
<body class="color">

<!--MENÚ-->
 
<!--FIN MENU-->

<!--FORMULARIO DE REGISTRO-->

<div class="container shadow-lg pt-5 mt- 5 mb-5 bg-white rounded" style="padding-top: 50px; ">
		

		<div class=" mr-4 rounded float-right " style=" ">
			<%= image_tag 'creausuario.png' %> 
		</div>
				

		<div  class=" pl-4 ml-4"  style=" " >

		<h1 class=" ">Crear cuenta</h1>

		<%= render 'form', user: @user %>

		<!--<%= link_to 'Back', users_path %>-->
		</div>
</div>
<!--FIN FORMULARIO-->

            

        



<%= yield %>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>



               